@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grape+Nuts&display=swap');
@import 'var.css';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--back);
    color: var(--letters);
    font-family: var(--font);
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 80vh;
    width: 40vw;
    border: 3px solid var(--letters);
    border-radius: 1%;
    
}

h1{
    color: var(--title);
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;
}

.form div {
    display: flex;
    justify-content:center;
    width: 80%;

}

.form input {
    width: 70%;
    height: 2rem;
    margin: 10px;
    margin-bottom: 30px;
    font-family:'Courier New', Courier, monospace;
    padding: 3px 0 3px 0;
    border: 2px solid var(--letters)
}

button {
    background-color: var(--title);
    width: 25%;
    margin: 4px;
    height: 2.5rem;
    transition: 0.3s;
    border-radius: 3px;
    font-size: 1.2rem;
}

button:hover{
    cursor: pointer;
    background-color: green;
}

.ingresar{
    width: 50%;
    height: 4rem;
}

.ingreso{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1200px) {  
    button {
        width: 50%;
        height: 2.5rem;
        font-size: 1.2rem;
    }
}  


@media only screen and (max-width: 750px) {  
    h1{
        font-size: 2rem;
    }
    .form{
        width: 100%;
        margin: 0
    }
    .form div{
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
    .form input{
        width: 90%;
    }
    .form label {
        font-size: 1rem;
    }
} 

@media only screen and (max-width: 400px) {  
    h1{
        font-size: 1.5rem;
    }
    .form label {
        font-size: 0.8rem;
    }
    
    button {
        width: 80%;
    }
} 